#root {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
}

.contact {
  max-width: 540px;
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

section {
  min-height: 30vh;
  padding: 60px 20px 20px;
}
